@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas_neue/bebasneue_regular-webfont.woff2') format('woff2'),
    url('../fonts/bebas_neue/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "Bebas Neue", "Arial", serif;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.btn-success {
    background-color: #9EBE3C !important;
    color: #FFF;
    border: none;
    border-radius: 0;
    padding: 10px 25px;
}

.bg-light {
    background-color: #9EBE3C !important;
}

.bg-services {
    width: 100%;
    padding: 25px;
    background: rgba(158, 190, 60, 0.7)  ;
}

.bg-services a,
.bg-services li {
    margin: 5px 0;
    font-size: 1.2em;
}

.nav-item {
    margin-left: 10px;
}

.nav-item .nav-link{
    width: 150px;
    padding: 5px 0 !important;
    color: #FFF !important;
    border-bottom: 2px solid #FFF;
}

.call-to-action{
    display: inline-block;
    padding: 10px 25px;
    color: #FFF;
    background-color: rgba(114, 67, 28, 0.20);
}

.call-to-action:hover {
    text-decoration: none;
    color: #FFF;
    background-color: rgba(114, 67, 28, 0.30);
}

.icon-wrapper {
    position: relative;
}

.icon {
    background-image: url("../img/icon.png");
    height: 35px;
    width: 42px;
    display: inline-block;
}

.icon:after,
.icon:before {
    content: '';
    border-bottom: 2px solid #FFF;
    display: inline-block;
    width: 150px;
    position: absolute;
    top: 50%;
}

.icon:before {
    left: 0px;
}

.icon:after {
    right: 0px;
}

section {
    margin: 30px 0;
}


.bg-hero {
    background: url("../img/banner.jpeg") no-repeat center;
    background-size: cover;
    min-height: 480px;
}
#banner {
    min-height: 200px;
}

#banner .position-wrapper {
    text-align: center;
    width: 100%;
}

#banner .title-wrapper {
    width: 352px;
    height: 201px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -176px;
    margin-top: -90px;
    display: block;
}

#banner h1 {
    border-top: solid 2px #FFF;
    display: inline-block;
    font-size: 45px;
    color: #FFF;
    text-align: center;
    padding: 15px 0 0;
}

#banner h1 span {
    font-size: 82px;
    line-height: 80px;
}

#services {
    text-align: center;
    color: #FFF;
}

#services h2 {
    display: inline-block;
    border-bottom: solid 2px #FFF;
    padding: 0 10px 10px;
}

#services h2:nth-child(2) {
    padding: 5px 10px 10px;
}

#services ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2.divider {
    margin-bottom: 30px;
}

h2.divider,
h2.divider span{
    border-bottom: 2px solid #72431C;
}

h2.divider span {
    display: block;
    width: 150px;
}

.card {
    border: none;
    border-radius: 0;
}

.card-img {
    border-radius: 0;
}

.card-header {
    background-color: #9EBE3C !important;
    color: #FFF;
}

.card-body {
    padding: 1.25rem 0;
}

#contact h3 {
    margin-top: 25px;
}

#contact a {
    color: #9EBE3C;
}

label {
    color: #9EBE3C !important;
}

textarea,
input {
    border-color: #9EBE3C !important;
    border-radius: 0 !important;
}

/** MOBILE **/

.navbar-light .navbar-toggler {
    padding: 10px 15px;
    border: 2px solid #FFF;
    color: #FFF;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-top: 15px;
    }

    .nav-item {
        margin: 0px;
    }

    .nav-item .nav-link{
        width: 100%;
        padding: 15px 0 !important;
        font-size: 1.3em;
        border-top: 2px solid #FFF;
        border-bottom: none;
    }
}